<div style="font-size: 10px">
  Originally designed by <a
  href="https://forum.nostalrius.org/memberlist.php?mode=viewprofile&u=38096/">henkebenke</a>
</div>
<div class="topText">
  <h1 style="font-weight: bold;text-align: center">Everlook Calendar</h1><br/>
  <div class="block_container" style="margin-bottom: 20px">
    <div style="margin-right: 7px"> Server time is now:</div>

    <app-servertime></app-servertime>
  </div>

  <div class="block_container" style="margin-bottom: 20px">
    <b style="font-weight: bold; margin-right: 7px;">Current ZG Edge of Madness boss:</b>
    <app-boss></app-boss>
  </div>


  <a href="" routerLink="/zgenchants"  routerLinkActive="active" ariaCurrentWhenActive="page">Click here for
    ZG enchants</a>

</div>
<app-event></app-event>
